h1 {
    text-align: center;
    margin-top: 70px;
}

main {
    margin: auto;
    max-width: 1025px;
}

.racing {
    background-color: black;
    min-height: 50px;
}

h2 {
    text-align: center;
    color: #fff;
    padding: 10px;
}